.buttonList {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.btn {
  padding: 1.5em 3em;
  font-size: 1em;
  border: none;
  outline: none;
  color: rgb(7, 208, 24);
  background: #1b1717;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.btn:focus {
  transform: var(--transform-scale);
}
